# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so

# Virtualenv
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Runtime data
/data/config.json
/download/

# Temp subtitle files
/temp_*.srt
/*_temp_output.*

# Secrets
.env
